.backdropStyle {
    position: 'fixed';
    background-color: grey;
    padding: 50
  }
.modalStyle {
    background-color: #fff;
    border: 5;
    max-width: 500;
    min-height: 300;
    margin: '0 auto';
    padding: 30;
  };